# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Build artifacts
build/
dist/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# Config (optional)
config.local.json